
<div class="row">
   <div class="col-sm-8 ">

                <h1 class="font-weight-bold">
                 {{ title }} 
                </h1>

        <a class= "btn btn-secondary m-2" 
           routerLink="/add-new">
           Add New
        </a>
        
        <div class="list-group" 
             style ="font-size:100px"> 
         <a *ngFor="let task of tasks" 
               class="list-group-item list-group-item-action border-warning shadow p-1 mb-2 bg-white rounded"
               (click)="onSelectTask(task._id)"
               [class.active]="task === selectedTask">  
                
            <button class="close ml-4 text-dark pa-3 mt-3 "
                 (click)="deleteTask($event,task._id)">
                 &times;
            </button>
            
               <h4>
                  <input type="checkbox"
                  [checked] = "task.completed"
                  [disabled]="true"> 
                    {{task.title}} 
               </h4>

                  <span class="badge badge-secondary float-left ml-2"
                        style ="font-size:12px" >
                      created:{{task.created|date:format:'dd.mm.yyyy'}}
                  </span> 
                   
         </a>
         
       </div>
    </div>
       <div class = "col-sm-4 "
           *ngIf="selectedTask">
           <app-task-details 
                [selected-task]="selectedTask"
                 (taskUpdated) ="getTasks()">  
           </app-task-details>
       </div> 
    </div> 
<p *ngIf="message">{{message}}</p>



